/* .searchbar{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
} */

.fixed{
    z-index: -40;
}

.cart{
    /* margin: 50%; */
    position: relative;
    right: 25px;
    top: 15px;

}
.cartnumber{
    position:relative;
    bottom:65%;
    color: white
}
#lg{
    margin-right:2vw ;
}
.name{
    background-color: rgb(102, 161, 255);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 3vh;
    width: 5vh;
    height: 3% auto;
    border-radius: 50%;
}
.name>div{
    position: relative;
    top: 25%;
}

.search{
    width: 20vw;
}

.search> input{
border-radius: 20px;
margin-top:1vh;
width: 15vw;
padding: 0.5vh 2vh;
}